@CHARSET "UTF-8";

.toolbar {
	width:100%;
	height:50px;
	background-color:#f8f8f8;
	padding-top : 10px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
  outline: 0;
  outline-offset: 0;
}
