@charset "utf-8";
.tabs {
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
.tabs li {
	float: left;
	width:25%;
}
.tabs a {
	position: relative;
	background: #ddd;
	width:100%;
	height:100%;
	display: inline-block;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
	background-image: -webkit-linear-gradient(top, #fff, #ddd);
	background-image: -moz-linear-gradient(top, #fff, #ddd);
	background-image: -ms-linear-gradient(top, #fff, #ddd);
	background-image: -o-linear-gradient(top, #fff, #ddd);
	background-image: linear-gradient(to bottom, #fff, #ddd);
	padding: .3em 0;
	display: inline-block;
	text-align: center;
	float: left;
	text-decoration: none;
	color: #444;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
	box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
}

 .tabs a:hover, .tabs a:hover::after, .tabs a:focus, .tabs a:focus::after {
 background: #fff;
}
.tabs a:focus {
	outline: 0;
}
 .tabs a::after {
 content:'';
 position:absolute;
 z-index: 1;
 top: 0;
 right: -.5em;
 bottom: 0;
 width: 1em;
 background: #fff;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
 background-image: -webkit-linear-gradient(top, #fff, #ddd);
 background-image: -moz-linear-gradient(top, #fff, #ddd);
 background-image: -ms-linear-gradient(top, #fff, #ddd);
 background-image: -o-linear-gradient(top, #fff, #ddd);
 background-image: linear-gradient(to bottom, #fff, #ddd);
 -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
 -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
 box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
 -webkit-transform: skew(10deg);
 -moz-transform: skew(10deg);
 -ms-transform: skew(10deg);
 -o-transform: skew(10deg);
 transform: skew(10deg);
 -webkit-border-radius: 0 5px 0 0;
 -moz-border-radius: 0 5px 0 0;
 border-radius: 0 5px 0 0;
}
 .tabs #current a, .tabs #current a::after {
 background: #fff;
 z-index: 3;
}
/* ------------------------------------------------- */

.content {
	background: #fff;
	padding: .5em;
	height: 100%;
	position: relative;
	overflow:auto;
	z-index: 2;
	-moz-border-radius: 0 5px 5px 5px;
	-webkit-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;
	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 0px 3px rgba(0, 0, 0, .4);
}
.content h2, .content h3, .content p {
	margin: 0 0 15px 0;
}

.pages li{
	width:auto;
}

.pages li a {
	width:60px;
}
.pages li.addpage a {
	width:30px;
}
/* ------------------------------------------------- */
